<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>História da Fatec Sorocaba</title>
</head>
<body>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem commodi, ut harum deserunt est rerum dicta fugiat explicabo ea porro in quasi voluptas pariatur unde, quod eligendi maiores. Eaque, cumque.</p>
</body>
</html>